@font-face 
{
    font-family: 'Lato';
    src: url('Lato.ttf') format('truetype');
}

body
{
    margin: 0 auto;
    max-width: 640px;
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    color: #000;
    font-size: 14px;
}

body.dark-mode 
{
    background-color: black;
    color: white;
}

.toggle-button {
    cursor: pointer;
    border: none;
    background-color: #4753FF;
    font-size: 11px;
    color: #fff;
}

h3, h4
{
    font-weight: bold;
    font-style: italic;
}

hr
{
    border-top: 1px dashed black;
}

a
{
    color: #4753FF;
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

@media (max-width: 640px) {
    body {
        padding: 0 15px;
    }
    .header {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}

summary h2
{
    margin: 0;
    cursor: pointer;
}