body, html 
{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #abd82e;
    background-color: #141414;
}

nav
{
    display:flex;
    justify-content: center;
    align-items:center;
    gap: 20px;
}

a
{
    text-decoration: none;
    color: #C47389;
    font-size: 14px;
    margin: 0;
    display: block;
}

.content 
{
    max-width: 100px;
    height: 200px;
    text-align: center;
    padding: 20px;
}

.center
{
    text-align: center;
    margin: 0;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 1200;
    font-style: normal;
}